### Custom
__pycache__/
.DS_Store
logs/

### Intellij
.idea/
out/
*.iws
*.iml
*.ipr

### VS Code
.vscode/

# Datalake
kafka-connectors/plugins/hudi-kafka-connector
data/
hudi/
hudi_0_15_0/
hudi_1_0_0/
hadoop-s3-jars
