### Custom
__pycache__/
.DS_Store
logs/

### Intellij
.idea/
out/
*.iws
*.iml
*.ipr

### VS Code
.vscode/

# Datalake
kafka-connectors/plugins/hudi-kafka-connector
data/
docker/hudi/
docker/hudi_0_15_0/
docker/hudi_1_0_0/
docker/hadoop-s3-jars
docker/db_connector_jars

old_files
