### Custom
__pycache__/
.DS_Store
logs/

### Intellij
.idea/
out/
*.iws
*.iml
*.ipr

### VS Code
.vscode/

# Datalake
kafka-connectors/plugins/hudi-kafka-connector
docker_build/hudi/
docker_build/hudi_0_15_0/
docker_build/hudi_1_0_0/
docker_build/hadoop-s3-jars
docker_build/db_connector_jars
docker_build/software
docker_build/lib/

docker_run/logs
docker_run/data
